.content{
  width: 80%;
  margin:2rem 10% 0 10%;
  max-width: 100%;
  box-sizing: border-box;
  min-height: 100vh;

}

.box{
	width:80%;
	margin:2rem 10% 0 10%;
	height:50vh;
	background-color:plum;

}
